/* DONE REVIEWING: GITHUB COMMIT ⚔️ */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.stone.950);
    --border: theme(colors.stone.200);
    --ring: theme(colors.stone.950);
    --input: theme(colors.stone.200);

    --primary: theme(colors.red.500);
    --primary-foreground: theme(colors.red.50);

    --secondary: theme(colors.indigo.500);
    --secondary-foreground: theme(colors.indigo.50);

    --accent: theme(colors.stone.950);
    --accent-foreground: theme(colors.stone.50);

    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.red.50);

    --muted: theme(colors.stone.100);
    --muted-foreground: theme(colors.stone.500);

    --card: theme(colors.white);
    --card-foreground: theme(colors.stone.950);

    --popover: theme(colors.white);
    --popover-foreground: theme(colors.stone.950);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
